{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />


<div class="header">
<a href="{% url 'index' %}">ProjectFinder™</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'login' %}">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'site_logout' %}">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'register' %}">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'profile' %}">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'search' %}">Search</a>
</div>