{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

{% include "header.html" %}

<p>PROFILE PAGE</p>

<p>My projects:</p>

<ul>
{% for project in projects %}
	<div class="project">
		<div class="project_title"><b>{{ project.title }}</b></div>
		<div class="project_zipcode">{{ project.zipcode }}</div>
		<div class="project_descr">{{ project.description }}</div>
	</div>
{% endfor %}
</ul>

<a href="{% url 'project_edit' %}">Add project</a>

<p>

{% include "navtest.html" %}