{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

{% include "header.html" %}

<p><center><b>PROJECT PAGE</b></center></p>

<div class="project">
		<div class="project_title"><b>{{ project.title }}</b></div>
		<div class="project_owner">Owned by: {{ project.username }}</div>
		<div class="project_zipcode">{{ project.zipcode }}</div>
		<div class="project_descr">{{ project.description }}</div>
	</div>
	
<p>

{% if user.username == project.username %}
<a href="{% url 'edit' title=project.title %}">Edit</a>&nbsp;&nbsp;   
<a href="{% url 'delete' title=project.title %}">Delete</a>&nbsp;&nbsp;
{% elif not user.is_anonymous %}
<a href="{% url 'join' title=project.title %}">Join</a>&nbsp;&nbsp; 
<a href="{% url 'leave' title=project.title %}">Leave</a>&nbsp;&nbsp; 
{% endif %}

{% include "navtest.html" %}