{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

{% include "header.html" %}

<p><center><b>SEARCH PAGE</b></center></p>
<center>
<form method="post" action="{% url 'search' %}">
{% csrf_token %}
<table>
<tr>
    <td><input id="id_search" maxlength="254" name="search" type="text" /></td>
</tr>
</table>

<input type="submit" value="Search" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</center>
<p><center><b>RESULTS</b></center></p>
<ul>
{% for project in projects %}
	<div class="project">
		<a href="{% url 'project' title=project.title %}"><b>{{ project.title }}</b></a>
		<div class="project_owner">Owned by: {{ project.username }}</div>
		<div class="project_zipcode">{{ project.zipcode }}</div>
		<div class="project_descr">{{ project.description }}</div>
	</div>
	</p>
{% endfor %}
</ul>

{% include "navtest.html" %}